.registered{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--color-white);
}

.blue{
    background: var(--color-accent);
}
.cyan{
    background: var(--color-accent-2);
}
.purple{
    background: var(--color-accent-3);
}
.pink{
    background: var(--color-accent-4);
}
.orange{
    background: var(--color-accent-5);
}
.yellow{
    background: var(--color-accent-6);
}

.students-table{
    border-radius: 10px;
    border-collapse: collapse;
    text-align: center;
    background: var(--color-white); 
    box-shadow: 0 0 1em .1em var(--color-shadow);
}

.students-table th,
.students-table td{
    padding: 1rem 2rem;
}

.students-table th{
    font-weight: 400;
}

.students-table td{
    color: var(--color-text-darkgray);
}

@media (max-width: 1000px) {
    .title{
        padding: .2rem 6rem;
    } 
    
    .students-table .section,
    .students-table .contact {
        display: none;
    }
}

@media (max-width: 500px) {
    .title{
        padding: .2rem 2rem;
    } 

    .students-table .lastName {
        display: none;
    }
} 
